<h1>Education</h1>

<ul>
	<li><strong>Bachelor of Science in Computer Science</strong>, Federal University Lokoja, 2023-present </li>
	<li><strong>Python Essentials I & II </strong>, Cisco Networking Academy, 2025 </li>
	<li><strong>Data Science Essentials </strong>,Cisco Networking Academy, 2025</li>
</ul>
