
<h1>Skills</h1>
<h2>Technical and Digital Skills</h2>
<ul>
	<li>
		<strong>Programming Languages:</strong> Proficient in Python, Java, C#, and Kotlin; familiar with JavaScript and SQL.
	</li>


	<li>
		<strong>Mobile Development:</strong> Skilled in Android development using Android Studio and Jetpack Compose.
	</li>


	<li>
		<strong>Web Development:</strong> Beginner level experience with HTML, CSS, ASP.NET Core MVC, and RESTful API design.
	</li>


	<li>
		<strong>Database Management:</strong> Relational databases (SQL) — SQLite (Room), Microsoft SQL Server (SSMS) and NoSQL databases (MongoDB).
	</li>


	<li>
		<strong>Version Control:</strong> Proficient in Git for source code management and collaboration.
	</li>


	<li>
		<strong>Cloud Platforms:</strong> Familiar with deploying applications on cloud services like Render and AWS.
	</li>


	<li>
		<strong>Machine Learning:</strong> Experience with building and deploying machine learning models using Python libraries such as scikit-learn.
	</li>


	<li> 
		<strong>Tools and IDEs:</strong> Proficient in using Visual Studio,Visual Studio code,SSMS,Android Studio, Jupyter Notebooks,
		and Docker for development and deployment.
	</li>


	<li>
		<strong>Frameworks & Libraries:</strong> Android SDK, Coroutines, Hilt, Retrofit, Room, LiveData, MVVM, XGBoost, scikit-learn,
		pandas, NumPy, Matplotlib, Seaborn
	</li>


	<li>
		<strong>Concepts & Methodologies:</strong> REST API Development, Dependency Injection, Multithreading & Async
		Programming, Feature Engineering, Model Evaluation, Hyperparameter Tuning, Cross-Validation, Software
		Design, Data Visualization, Object-Oriented Programming, MVVM Pattern, Version Control.
	</li>
</ul>
